<!DOCTYPE html>
<html lang="en">

  <head >

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VersionEye API</title>

    <meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author"      content="VersionEye GmbH" />
    <meta name="keywords"    content="Java, Ruby, Python, Node.JS, JavaScript, PHP, Software Packages" />
    <meta name="description" content="Notification System for Software Packages. Follow your Packages and get notified about new versions." />

    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag '/api/swagger_css/typography.css' %>
    <%= stylesheet_link_tag '/api/swagger_css/reset.css' %>
    <%= stylesheet_link_tag '/api/swagger_css/screen.css' %>
    <%# stylesheet_link_tag '/api/swagger_css/print.css' %>
    <%= stylesheet_link_tag '/api/swagger_css/style.css' %>
    <%# stylesheet_link_tag 'api_application' %>


    <script src="/api/swagger_js/lib/es5-shim.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/object-assign-pollyfill.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/jquery.slideto.min.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/jquery.wiggle.min.js" type="text/javascript"></script>

    <script src="/api/swagger_js/lib/jquery.ba-bbq.min.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/handlebars-4.0.5.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/lodash.min.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/backbone-min.js" type="text/javascript"></script>
    <script src="/api/swagger_js/swagger-ui.min.js" type="text/javascript"></script>

    <script src="/api/swagger_js/lib/highlight.9.1.0.pack.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/highlight.9.1.0.pack_extended.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/marked.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/js-yaml.min.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/jsoneditor.min.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/sanitize-html.min.js" type="text/javascript"></script>
    <script src="/api/swagger_js/lib/swagger-oauth.js" type="text/javascript"></script>

    <%= javascript_include_tag "api_application"  %>

     <!-- Some basic translations -->
  <!-- <script src='lang/translator.js' type='text/javascript'></script> -->
  <!-- <script src='lang/ru.js' type='text/javascript'></script> -->
  <!-- <script src='lang/en.js' type='text/javascript'></script> -->

  </head>


  <body>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </body>

</html>
