<!DOCTYPE html>
<html lang="en">

  <head >

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VersionEye API</title>

    <meta HTTP-EQUIV="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author"      content="VersionEye GmbH" />
    <meta name="keywords"    content="Java, Ruby, Python, Node.JS, JavaScript, PHP, Software Packages" />
    <meta name="description" content="Notification System for Software Packages. Follow your Packages and get notified about new versions." />

    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'api_application' %>
    <%= javascript_include_tag "api_application"  %>

    <link href='/api/swagger_css/hightlight.default.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='/api/swagger_css/screen.css'             media='screen' rel='stylesheet' type='text/css'/>

  </head>

  <body >

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </body>

</html>
